html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		title Searchbar -#{title}
	body
		include nav
		p Search for first name, last name or e-mailadress.

		form(method="POST" action ="/searchbar") 
			input(id="autocomplete" type="text" placeholder="Searchbar" name= "suggestion")
			button(id="search" type="submit" value="submit") Submit

		

		//- script.
		//- 	$(document).ready(function(){
		//- 		$("autocomplete").click(function() {
		//- 				let pokemon = $("#autocomplete").val()
		//- 				console.log("hi",pokemon)
		//- 				//- $.ajax( {url:"https://pokeapi.co/api/v2/pokemon/"+ pokemon,
		//- 			 //-         type:"GET",
		//- 			 //-         dataType:"json",
		//- 			 //-         crossDomain: true,
		//- 			 //-         success:function(data, textStatus, jqXHR) {
		//- 			 //-         	console.log(data)
		//- 			 //-         	$("#name").html("Name: " + data.name)
		//- 			 //-         	$("#weight").html("Weight: " + data.weight)
		//- 			 //-         	$("#pokedex").attr("src", data.sprites.back_default)
		//- 			 //-   			$("#pokedex2").attr("src", data.sprites.front_default)
	      	
		//- 			 //-         	console.log(data)
		//- 			 //-         },
		//- 			 //-         error: function(jqXHR, textStatus, errorThrown) {
		//- 			 //-         	alert("failure, pokemon not found", textStatus);}
		//- 				//- })				
		//- 		})
		//- 	})