html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
		title Searchbar -#{title}
	body
		include nav
		p Search for first name, last name or e-mailadress (case sensitive).

		form(method="POST" action ="/searchbar") 
			input(id="autocomplete" type="text" placeholder="Searchbar" name= "name")
			button(id="search" type="submit" value="submit") Submit
			h1 Suggestions
			ul(id = "results")


		
		script.
			$(document).ready(function(){
				$("#autocomplete").keyup(function() {
						var query = $("#autocomplete").val();
						if(query !='')
							{ 
							  $.ajax({
							  url:"/login",
							  method:"POST",
							  type:"JSON",
							  data:{query:query},
							  success:function(data)
							  {
								$(".lijst").remove()
								for (var i = 0; i < data.finder.length; i++){
									$("#results").append("<li class='lijst'>"+ data.finder[i]+ "</li>")
								}
							}
							})
							}

				})
			})

//- link button met functie, backend moet namen lezen, frontend moet gelezen info ophalen data.finder